$backgroundColor: #640fc5;
$textColor: #f4f4f4;
$buttonColor1: #0e6cff;
$buttonColor2: #ff8700;
$buttonColor3: #4caf50;

$mainFontFamily: "Roboto", sans-serif;

$fontSizeS: 0.8em;
$fontSizeM: 1em;
$fontSizeML: 1.2em;
$fontSizeL: 1.5em;
$fontSizeXL: 2em;
$fontSizeXXL: 3em;

$sm: 0.5em;
$normal : inherit;
$md: 1.5em;




